{% extends "base.html" %}
{% load static %}

{% block extra-head %}
{% endblock %}

{% block breadcrumbs %}
 <li class="breadcrumb-item active">Insights</li>
<li class="breadcrumb-item active">Latest</li>
{% endblock %}

{% block cards %}

                 <!-- /.card-->
                <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="card card-accent-secondary">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-md-4">
                  <div class="card card-accent-secondary">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-md-4">
                  <div class="card card-accent-secondary">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-md-4">
                  <div class="card border-primary">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-md-4">
                  <div class="card border-info">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
                <div class="col-sm-6 col-md-4">
                  <div class="card border-secondary">
                    <div class="card-header">Card with accent</div>
                    <div class="card-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                  </div>
                </div>
                <!-- /.col-->
              </div>
                <!-- /.card-->
<div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card">
                    <div class="card-header"> Collapse<small>custom accordion</small></div>
                    <div class="card-body">
                      <div id="exampleAccordion" data-children=".item">
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">Toggle item</a>
                          <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                          </div>
                        </div>
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">Toggle item 2</a>
                          <div class="collapse" id="exampleAccordion2" role="tabpanel">
                            <p class="mb-3">Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    <div class="col-sm-12 col-xl-6">
                    <div class="card">
                    <div class="card-header"> Collapse<small>custom accordion</small></div>
                    <div class="card-body">
                      <div id="exampleAccordion" data-children=".item">
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">Toggle item</a>
                          <div class="collapse show" id="exampleAccordion1" role="tabpanel">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                          </div>
                        </div>
                        <div class="item"><a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">Toggle item 2</a>
                          <div class="collapse" id="exampleAccordion2" role="tabpanel">
                            <p class="mb-3">Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
</div>

{% endblock %}

{% block extra-scripts %}
{% endblock %}