{% load static %}
<html lang="en">
 <head>
     <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rype Health Insights Engine</title>
    <!-- Icons-->
    <link href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/pace-progress/css/pace.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/'%}@coreui/coreui-chartjs/css/coreui-chartjs.css" rel="stylesheet">
  {% block extra-head %}
  {% endblock %}
  </head>
  <body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
      <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="{% static 'assets/brand/Picture1.svg'%}" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="{% static 'assets/brand/Picture2.svg'%}" width="118" height="46" alt="CoreUI Logo">
      </div>

      <ul class="c-sidebar-nav" data-drodpown-accordion="true">
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'home' %}">
            <svg class="c-sidebar-nav-icon">
              <img src="{% static 'assets/icons/speedometer.svg'%}"></img>
            </svg> Dashboard</a></li>


        <li class="c-sidebar-nav-title">Customer Insights</li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% static 'charts.html' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-magnifying-glass"></use>
            </svg> Search</a></li>
        <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
            <svg class="c-sidebar-nav-icon">
              <img src="{% static 'assets/icons/share-alt.svg'%}"></img>
            </svg> Segments</a>
          <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                </svg> KOLs</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                </svg> Specialists</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                </svg> Generalists</a></li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                </svg> Allied Health</a></li>
          </ul>
        </li>


        <li class="c-sidebar-nav-title">Company Insights</li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'latest' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-fire"></use>
            </svg> Latest</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'actionable' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-tags"></use>
            </svg> Tagged</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'trending' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-graph"></use>
            </svg> Trending</a></li>

        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
                        <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-list"></use>
                </svg> Topic Areas
            </a>
              <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Disease</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Product</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Industry</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Competitors</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Policy</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'topic' %}">
                    <svg class="c-sidebar-nav-icon">
                      <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-notes"></use>
                    </svg> Research Literature</a></li>
              </ul>
        </li>



           <li class="c-sidebar-nav-title">Administration</li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{% url 'insight_upload' %}">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-cloud-upload"></use>
            </svg> Upload</a></li>
        <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-fork"></use>
            </svg> Segmentation</a>
        </li></ul></div>
          <!--<li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">-->
            <!--<svg class="c-sidebar-nav-icon">-->
              <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-layers"></use>-->
            <!--</svg> Corpora</a>-->
        <!--</li>-->
          <!--<li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">-->
            <!--<svg class="c-sidebar-nav-icon">-->
              <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-sitemap"></use>-->
            <!--</svg> Taxonomy/Ontology</a>-->
        <!--</li>-->

           <!--<li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">-->
            <!--<svg class="c-sidebar-nav-icon">-->
              <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-code"></use>-->
            <!--</svg> Algorithms</a>-->
        <!--</li>-->
 <!--<li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">-->
            <!--<svg class="c-sidebar-nav-icon">-->
              <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-snowflake"></use>-->
            <!--</svg> Knoweledge Map</a>-->
        <!--</li>-->

        </ul>
      <!--<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-unfoldable"></button>-->
    </div>
    <!-- removed left sidebar for now -->

    <!-- wrapper -->
     <div class="c-wrapper">
         <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
        <!--<button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button>-->
          <!--<a class="c-header-brand d-sm-none" href="#"><img class="c-header-brand-full c-d-dark-none" src="{% static 'assets/brand/coreui-pro-base.svg' %}" width="118" height="46" alt="CoreUI Logo"><img class="c-header-brand-minimized c-d-dark-none" src="{% static 'assets/brand/coreui-signet.svg' %}" width="46" height="46" alt="CoreUI Logo"><img class="c-header-brand-full c-d-light-none" src="{% static 'assets/brand/coreui-pro-base-white.svg' %}" width="118" height="46" alt="CoreUI Logo"><img class="c-header-brand-minimized c-d-light-none" src="{% static 'assets/brand/coreui-signet-white.svg' %}" width="46" height="46" alt="CoreUI Logo"></a>-->

        <button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true"><span class="c-header-toggler-icon"></span></button>

        <!--<ul class="c-header-nav d-md-down-none">-->
          <!--<li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Dashboard</a></li>-->
          <!--<li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>-->
          <!--<li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Settings</a></li>-->
        <!--</ul>-->

        <ul class="c-header-nav ml-auto">
          <li class="c-header-nav-item px-3">
            <button class="c-class-toggler c-header-nav-btn" type="button" id="header-tooltip" data-target="body" data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title="Toggle Light/Dark Mode">
              <svg class="c-icon c-d-dark-none">
                <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-moon"></use>
              </svg>
              <svg class="c-icon c-d-light-none">
                <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-sun"></use>
              </svg>
            </button>

          </li>

        </ul>

        <!--notification bar  -->
        <ul class="c-header-nav">
          <!--<li class="c-header-nav-item dropdown d-md-down-none mx-2"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--<svg class="c-icon">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-bell"></use>-->
              <!--</svg><span class="badge badge-pill badge-danger">5</span></a>-->
            <!--<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">-->
              <!--<div class="dropdown-header bg-light"><strong>You have 5 notifications</strong></div><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2 text-success">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-user-follow"></use>-->
                <!--</svg> New user registered</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2 text-danger">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-user-unfollow"></use>-->
                <!--</svg> User deleted</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2 text-info">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-chart"></use>-->
                <!--</svg> Sales report is ready</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2 text-success">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-basket"></use>-->
                <!--</svg> New client</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2 text-warning">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-speedometer"></use>-->
                <!--</svg> Server overloaded</a>-->
              <!--<div class="dropdown-header bg-light"><strong>Server</strong></div><a class="dropdown-item d-block" href="#">-->
                <!--<div class="text-uppercase mb-1"><small><b>CPU Usage</b></small></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span><small class="text-muted">348 Processes. 1/4 Cores.</small>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="text-uppercase mb-1"><small><b>Memory Usage</b></small></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span><small class="text-muted">11444GB/16384MB</small>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="text-uppercase mb-1"><small><b>SSD 1 Usage</b></small></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span><small class="text-muted">243GB/256GB</small>-->
              <!--</a>-->
            <!--</div>-->
          <!--</li>-->

            <!--tasks-->
          <!--<li class="c-header-nav-item dropdown d-md-down-none mx-2"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--<svg class="c-icon">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-list-rich"></use>-->
              <!--</svg><span class="badge badge-pill badge-warning">15</span></a>-->
            <!--<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">-->
              <!--<div class="dropdown-header bg-light"><strong>You have 5 pending tasks</strong></div><a class="dropdown-item d-block" href="#">-->
                <!--<div class="small mb-1">Upgrade NPM &amp; Bower<span class="float-right"><strong>0%</strong></span></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="small mb-1">ReactJS Version<span class="float-right"><strong>25%</strong></span></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="small mb-1">VueJS Version<span class="float-right"><strong>50%</strong></span></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="small mb-1">Add new layouts<span class="float-right"><strong>75%</strong></span></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span>-->
              <!--</a><a class="dropdown-item d-block" href="#">-->
                <!--<div class="small mb-1">Angular 8 Version<span class="float-right"><strong>100%</strong></span></div><span class="progress progress-xs">-->
                  <!--<div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
                <!--</span>-->
              <!--</a><a class="dropdown-item text-center border-top" href="#"><strong>View all tasks</strong></a>-->
            <!--</div>-->
          <!--</li>-->

           <!--messages -->
          <!--<li class="c-header-nav-item dropdown d-md-down-none mx-2"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">-->
              <!--<svg class="c-icon">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-envelope-open"></use>-->
              <!--</svg><span class="badge badge-pill badge-info">7</span></a>-->
            <!--<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">-->
              <!--<div class="dropdown-header bg-light"><strong>You have 4 messages</strong></div><a class="dropdown-item" href="#">-->
                <!--<div class="message">-->
                  <!--<div class="py-3 mr-3 float-left">-->
                    <!--<div class="c-avatar"><img class="c-avatar-img" src="{% static 'assets/img/avatars/7.jpg' %}" alt="user@email.com"><span class="c-avatar-status bg-success"></span></div>-->
                  <!--</div>-->
                  <!--<div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">Just now</small></div>-->
                  <!--<div class="text-truncate font-weight-bold"><span class="text-danger">!</span> Important message</div>-->
                  <!--<div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>-->
                <!--</div>-->
              <!--</a><a class="dropdown-item" href="#">-->
                <!--<div class="message">-->
                  <!--<div class="py-3 mr-3 float-left">-->
                    <!--<div class="c-avatar"><img class="c-avatar-img" src="{% static 'assets/img/avatars/6.jpg' %}" alt="user@email.com"><span class="c-avatar-status bg-warning"></span></div>-->
                  <!--</div>-->
                  <!--<div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">5 minutes ago</small></div>-->
                  <!--<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>-->
                  <!--<div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>-->
                <!--</div>-->
              <!--</a><a class="dropdown-item" href="#">-->
                <!--<div class="message">-->
                  <!--<div class="py-3 mr-3 float-left">-->
                    <!--<div class="c-avatar"><img class="c-avatar-img" src="{% static 'assets/img/avatars/5.jpg' %}" alt="user@email.com"><span class="c-avatar-status bg-danger"></span></div>-->
                  <!--</div>-->
                  <!--<div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">1:52 PM</small></div>-->
                  <!--<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>-->
                  <!--<div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>-->
                <!--</div>-->
              <!--</a><a class="dropdown-item" href="#">-->
                <!--<div class="message">-->
                  <!--<div class="py-3 mr-3 float-left">-->
                    <!--<div class="c-avatar"><img class="c-avatar-img" src="{% static 'assets/img/avatars/4.jpg' %}" alt="user@email.com"><span class="c-avatar-status bg-info"></span></div>-->
                  <!--</div>-->
                  <!--<div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">4:03 PM</small></div>-->
                  <!--<div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>-->
                  <!--<div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>-->
                <!--</div>-->
              <!--</a><a class="dropdown-item text-center border-top" href="#"><strong>View all messages</strong></a>-->
            <!--</div>-->
          <!--</li>-->
          <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="dropdown-header bg-light py-2">
              <!--<div class="c-avatar">-->
                  <!--<img class="c-avatar-img" src="{% static 'assets/img/avatars/6.jpg' %}" alt="user@email.com">-->
                  Welcome, <strong>{{ user.get_username }}</strong>.</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right pt-0">
              <!--<div class="dropdown-header bg-light py-2"><strong>Account</strong></div>-->
                <!--<a class="dropdown-item" href="#"></a>-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-bell"></use>-->
                <!--</svg> Updates<span class="badge badge-info ml-auto">42</span></a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-envelope-open"></use>-->
                <!--</svg> Messages<span class="badge badge-success ml-auto">42</span></a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-task' %}"></use>-->
                <!--</svg> Tasks<span class="badge badge-danger ml-auto">42</span></a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-comment-square"></use>-->
                <!--</svg> Comments<span class="badge badge-warning ml-auto">42</span></a>-->
              <!--<div class="dropdown-header bg-light py-2"><strong>Settings</strong></div>-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-user"></use>-->
                <!--</svg> Profile</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-settings"></use>-->
                <!--</svg> Settings</a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-credit-card"></use>-->
                <!--</svg> Payments<span class="badge badge-secondary ml-auto">42</span></a><a class="dropdown-item" href="#">-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-file"></use>-->
                <!--</svg> Projects<span class="badge badge-primary ml-auto">42</span></a>-->
              <!--<div class="dropdown-divider"></div>-->
                <!--<svg class="c-icon mr-2">-->
                  <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-lock-locked"></use>-->
                <!--</svg> Lock Account</a>-->
                <a class="dropdown-item" href="{% url 'logout' %}">
                <svg class="c-icon mr-2">
                  <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-account-logout"></use>
                </svg> Logout</a>
            </div>
          <!--</li>-->
          <!--<li class="c-header-nav-item px-3">-->
            <!--<button class="c-class-toggler c-header-nav-btn" type="button" data-target="#aside" data-class="c-sidebar-show">-->
              <!--<svg class="c-icon c-icon-lg mr-2">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-applications-settings"></use>-->
              <!--</svg>-->
            <!--</button>-->
          <!--</li>-->
        </ul>
        <div class="c-subheader px-3">
          <!-- Breadcrumb-->
          <ol class="breadcrumb border-0 m-0">
            <li class="breadcrumb-item">Home</li>

              {% block breadcrumbs %}
              {% endblock %}

          </ol>
          <div class="c-header-nav ml-auto d-md-down-none mr-2"><a class="c-header-nav-link" href="#">
              <!--<svg class="c-icon">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-speech"></use>-->
              <!--</svg></a><a class="c-header-nav-link" href="#">-->
              <!--<svg class="c-icon">-->
                <!--<use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-graph"></use>-->
              <!--</svg> &nbsp;Dashboard</a>-->
              <a class="c-header-nav-link" href="#">
              <svg class="c-icon">
                <use xlink:href="{% static 'assets/icons/coreui/free-symbol-defs.svg'%}#cui-settings"></use>
              </svg> &nbsp;Settings</a></div>
        </div>
      </header>
         <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">

  {% block cards %}
  {% endblock %}

                    </div>
                 </div>
            </main>
         </div>
         <footer class="c-footer">
        <div><a href="#">Grasp Technology, Inc.</a> © 2019</div>
      </footer>
     </div>
    <!--end wrapper-->

    <!--scripts-->
    <!-- CoreUI and necessary plugins-->
    <script src="{% static 'vendors/pace-progress/js/pace.min.js' %}"></script>
    <script src="{% static 'vendors/'%}@coreui/coreui-pro/js/coreui.bundle.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{% static 'vendors/chart.js/js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/@coreui/coreui-chartjs/js/coreui-chartjs.js' %}"></script>
    <script src="{% static 'js/main3.js' %}"></script>
  {% block extra-scripts %}
  {% endblock %}
  </body>
</html>


